<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>求職履歷</title>

	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:black; font-size:60px;}
		h3 {color:black; font-size:40px;}
	</style>

</head>
<body>
	<div>
        <h1>履歷</p>
    </div>

	<main>
		<h2>未來職涯：MIS網管工程師</h2>

		<h3>原因</h3>
		根據104興趣何倫碼職涯測驗結果，我的類型A藝術 x E企業。 <br>
		具有敏銳的直覺和想像力，喜歡用文字、音樂、色彩等各種藝術創作來表達自己。 <br>
		重視個人的創意，追求自由的生活。個性樂觀且充滿自信，表達能力強，有機會成為團隊領導者。<br>

		<h3>工作內容</h3>
		MIS工程師主要負責： <br>
		1.機房端伺服器、網路等基礎架構維護 <br>
		2.用戶端電腦維護 (Help Desk) <br>
		3.資料及應用備份與備援 <br>
		4.資訊安全管理及教育訓練 <br>
		5.規劃和執行內部資訊系統建置<br>

		<h3>如何充實自己</h3>
		1. 建立紮實的資訊基礎（網路、系統）<br>
		2. 熟悉工具（Wireshark、Packet Tracer、GNS3）<br>
		3. 持續學習實作經驗（網站、系統操作）<br>
		4. 考取相關證照（如CCNA、CCNP）<br>
		5. 提升英文能力 <br>
	</main>
				
	<footer>
		Copyright ©  呂芳妤. All Rights Reserved.
	</footer>
			
	<a href=/>返回呂芳妤網站首頁</a>	
</body>
</html>
